<h1> Savings Account List: </h1>
{% if savings_accounts %}
    <ul>
    <form action= "{% url 'monthly_interest' %}" method="post">
    {% csrf_token %}
    {% for account in savings_accounts %}

        <li>{{ account.account_record.name }}, balance: {{ account.balance }} GBP</a></li>
        <label> Enter interest rate: </label><br>
        <input type="number" step="0.01" name='interest_{{ account.account_id }}' value=0.5><br><br>
    {% endfor %}
        <input type="submit" value="Apply Monthly Interest">
    </form>
    
    </ul>
{% else %}
    <p>No savings accounts are available.</p>
{% endif %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
