<h1> Withdrawals </h1>

<form action= "{% url 'withdraw' %}" method="post">
    {% csrf_token %}

    <label> Choose an Account </label><br>
    <select name="account_id">
        <option selected="selected"> --please choose an account --</option>
        {% for account in all_accounts %}
            <option value= {{ account.id }}> {{ account.name }} </option>
        {% endfor %}
    </select><br><br>
    
    <label> Enter amount </label><br>
    <input type="number" name="amount"><br><br>
    <input type="submit">
</form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}